.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fade-in-logo {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.glow-logo {
  animation: glowPulse 2s ease-in-out infinite alternate;
  color: #ce5ff8;
}

@keyframes glowPulse {
  from {
    text-shadow: 0 0 5px #ce5ff8, 0 0 10px #ce5ff8;
  }

  to {
    text-shadow: 0 0 15px #d68cff, 0 0 25px #ff99ff;
  }
}